{% extends "template.njk" %}

{% block message %}{{ messages }}{% endblock %}

{% block main %}

<div class="profileImage"></div>
<span class="profileName">{{ profileUser.username }}</span>
<div class="profileSocial">
<span id="social"></span>
<span id="social"></span>
<span id="social"></span>
<span id="social"></span>
<span id="social"></span>
</div>
<div class="aboutField"></div>
<div class="flashBanner"></div>

{% endblock %}
